@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Space+Mono');

* {
    margin: 0;
    padding: 0;
}

body {
    background: url(space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: 'Space Mono', serif;
    color: blue
}

h1 {
    text-align: center;
    color: rgba(45, 244, 255,0.3);
    position: relative;
    bottom: 15px;
    left: 5px;
    font-size: 4vw;
}

main{
    font-size: 2rem;
    color: rgba(100, 50, 0, 0.8);
    box-sizing: border-box;
    background-image: url(spell_book.png);
    background-size: cover;
    position: relative;
    bottom: 300px;
    width: 950px;
    margin-left: 20vw;
    margin-top: 300px;
    height: 600px;
    font-family: 'Cedarville Cursive', cursive;
    overflow: auto;
}

form {
    margin-bottom: 1rem;
    margin-left: 10vw;
    width: 50vw;
  }
  
  input[type="text"] {
    height: auto;
    min-width: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding: .5rem;
    border: 1px solid #cacaca;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0a0a0a;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    appearance: none;
  }

  input[type="text"]:focus{
  outline: 0;
  border: 1px solid #8a8a8a;
  background-color: #fefefe;
  box-shadow: 0 0 5px #cacaca;
}

input[type = "radio"]{
    display: inline;
    margin: 5px;
}

#magicUserType{
    border-style: solid;
    border: 1px solid #cacaca;
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    background-color: gba(25, 25, 112, 0.2);
}

form{
    display: flex;
    width: 50%;
    position: relative;
    left: 21vw;
  }


.water, 
.fa-tint {
    color: #40a4df;
}

.fire,
.fa-fire {
    color: #E25822;

}

.darkness,
.fa-skull{
    color: #414a4c;
} 

.spell{
    font-size: 1.2 em;
    color: darkorange;
    margin-right: 5px;
}

#spellList{
    list-style: none;
    position: relative;
    left: 75px;
    display: flex;
    flex-wrap: wrap;
    top: 20px;
    
}