@import url('https://fonts.googleapis.com/css?family=Space+Mono');

* {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', serif;
    color: blue;
}

body {
    background: url(space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

h1 {
    font-family: UnifrakturCook, serif;
    text-align: center;
    color: rgba(45, 244, 255,0.3);
    position: relative;
    bottom: 5px;
    right: 15px;
    font-size: 8vw;
  }

main{
    font-size: 2rem;
    color: rgba(100, 50, 0, 0.8);
    box-sizing: border-box;
    background-image: url(spell_book.png);
    background-size: cover;
    position: relative;
    bottom: 300px;
    width: 950px;
    margin-left: 20vw;
    margin-top: 20px;
    height: 600px;
    overflow-y: auto;
}

.wizard {
    color: blue;
}

.witch {
    color: green;
}

.sorcerer{
    color: purple;
} 

.spell{
    font-size: 1.2 em;
    color: darkorange;
    margin-right: 5px;
}
